@import "../../global/styles/_fonts.scss";
@import "../../global/styles/base_colors.scss";
@import "../../global/styles/base_variables.scss";

.signup-landing-section{
    padding-top:1rem;
    justify-content: center;
    p{
        font-size:0.75rem;
        font-style: italic;
    }
    h3{
        font-size: 1rem;
    }
    .facbook-login-btn{
        background:$facebook !important;
        color:$white !important;
    }
    .email-login{
        background-color: $yellow;
        color:$white;
    }
    .btn-group, .btn-group-vertical{
        margin:0.5rem 0;
        display: block !important;
    }

}