.cart-tiles{
    border:1px solid #ccc;
    .heading{
        background-color: #ccc;
        font-size:0.80rem;
        text-align: center;
        color:#000;
       font-weight: 300;
    }
    .item-list{
        border-bottom:1px solid #ccc;
        .item{
            .red{
                color:#dc3545;
            }
            font-size:0.80rem;
            color:#000;
            font-weight: 300;
            .remove{
                cursor: pointer;
            }
        }
    }
   
}