// Color variables used across app

$error-red : #dc3545;
$mid-grey:#333333;
$average-grey:#999999;
$light-grey:#4c4c4c;
$lighter-grey:#f8f8f8;
$off-white:#f9f9f9;
$min-grey:#eeeeee;
$warn-weak-color : rgb(224, 102, 20);
$warn-fair-color : rgb(238, 188, 26);
$grey-light:#b4b3b3;
$grey-darker:#484848;
$facebook:#263a63;
$yellow:#ffc107;
$rgb-grey: rgb(228, 228, 228);
$icon-grey: rgb(107, 105, 105);
$strong-password-color : rgb(100, 192, 13);
$white: #fff;
$dark-blue :#00296d;
$red : #e30016;