.filters{
    ul{
        list-style:none;
        padding-left:0rem;
        li{
            font-size:0.80rem;
            color:#555555;
        }
    }
    .submenu {
        overflow: hidden;
        height: 0;
        .second-menu-item{
            color:#dc3545;
            font-size:0.80rem;
        }
    }
    .expand{
        transition: all .5s ease-in-out;
        .submenu{
            height: auto;
        }
    }
    .category-item{
        cursor:pointer;
    }
    
}
.cart-tile{
    font-size:0.90rem;
    font-weight: bold;
    color:#999;
    .count{
        background-color: #999;
        margin-left:0.50rem;
        color:white;
        padding:0 0.50rem;
        border-radius:3px;
        font-size:0.80rem;
    }
    span{
        cursor: pointer;
    }
}
