.filters{
    .drop-down-filter{
        svg{
            position: absolute;
            right:10px;
            top:1rem;

        }
    }
    .Dropdown-control {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        color: #333;
        cursor: default;
        outline: none;
        padding: 8px 52px 8px 10px;
        transition: all 200ms ease;
    }
    .Dropdown-menu {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 0 rgba(0,0,0,.06);
        box-sizing: border-box;
        margin-top: -1px;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
    }
    .Dropdown-option {
        box-sizing: border-box;
        color: rgba(51,51,51,.8);
        cursor: pointer;
        display: block;
        padding: 8px 10px;
    }
    h6{
        font-weight: bold;
        font-size:0.90rem;
        padding:1rem 0.5rem;
        span{
            font-size:0.80rem;
            color:#555555;
            float:right;
        }
    }
    ul{
        list-style:none;
        padding-left:0rem;
        li{
            font-size:0.80rem;
            color:#555555;
        }
    }
    .submenu {
        overflow: hidden;
        height: 0;
        .second-menu-item{
            color:#dc3545;
            font-size:0.80rem;
        }
    }
    .expand{
        transition: all .5s ease-in-out;
        .submenu{
            height: auto;
        }
    }
    .category-item{
        cursor:pointer;
    }
    
}
.filter-mode{
    .border-bottom{
        border-bottom:1px solid #eee;
        padding-bottom:1rem;
    }
    .price-range{
        font-size:1rem;
        padding-top:1rem;
    }
    margin-top:2rem;
    display:flex;
    flex:4;
    p{
        font-size:0.90rem;
        font-weight: bold;
    }
    span{
        display:inline-block;
        margin-right:0.1rem;
    }
   
  
    
}
.cart-tile{
    font-size:0.90rem;
    font-weight: bold;
    color:#999;
    .count{
        background-color: #999;
        margin-left:0.50rem;
        color:white;
        padding:0 0.50rem;
        border-radius:3px;
        font-size:0.80rem;
    }
    span{
        cursor: pointer;
    }
}
