.service-item-tile{
    border:1px solid #f4f4f4;
    svg{
        width:50px;
        height: 50px;
    }
    div{
        font-weight: bold;
        color:#000000;
        margin-top:3rem;
    }
    p{
        color:#7a7c82;
        margin-top:0.25rem;
        font-size: 13px;
    }
    &:hover{
       background-color: #282676;
       div{
        color:#ffffff;
       }
       .icon{
           fill:#ffffff;
       }
       
    }
}