@import "../../../global/styles/base_colors.scss";
@import "../../../global/styles/base_variables.scss";


.services-section{
    background-color: #bbbbbb;
    padding-top:6.25rem;
    padding-bottom:6.25rem;
    svg{
        width:40px;
        height:40px;
    }
    h1{
       
        font-weight: 100;
        font-size:2rem;
        color:#333333;
    }
    p{
        font-size:0.8125rem;
        font-weight: 400;
        color:#666666;
    }
    .service-item{
        &:hover{
            cursor:pointer;
            svg{
                path{
                    fill:#dc3545;
                }
                .cls-1{
                    fill:#dc3545;
                }
                
            }
        }
        
        padding:1rem;
        background-color: $off-white;
       .heading{
           font-size:1.25rem;
           color:#3333;
       }
       .subheading{
           font-size:0.8125rem;
           color:#666666;
           max-height: 56px;
           overflow: hidden;
       }
    }
}