.product-details{
    
    .slick-slider{
        margin-top: 2rem;
        background-color: #f4f4f4;
        padding:1rem;
        img{
            width:50px;
            height: 50px;
        }
        .slick-next,.slick-prev{
            cursor:pointer;
            z-index: 3;
            &:before{
                color: #e30016;
                cursor:pointer;
            }
        }
        .slick-slide
        {    width: 100px;
            height: 100px;
            margin-right:0.50rem;
            padding: 1.5rem;
            background-color:white;
            border: 1px solid #999;
            cursor:pointer;
        }
    }
    .increase-zindex{
        z-index: 5000;
    }
    .bgWhite{
        background-color: white;
        div{
            background-color: white;
        }
    }
    .tabs{
        border:1px solid #f4f4f4;
        .tab-content{
            padding-top:1rem;
            padding-left:1rem;
            padding-right:1rem;
            p{
                font-size:14px; 
                color:#7a7c82;
                border-bottom:none;
            }
            ul{
                list-style: none;    
                li{
                    .heading{
                        font-weight: bold;
                        padding-right:1rem;
                        padding-bottom:0.30rem;
                    }
                    margin-top:1rem;
                    font-size:14px; 
                    color:#7a7c82;
                    border-bottom:none;
                }
            }
        }
    }
    .nav-tabs{
        background-color: #f4f4f4;
        .nav-item{
            cursor: pointer;
            .nav-link{
                padding:1rem;
                color:#000a71;
                font-weight: bold;
            }
        }
        
    }
    .btnGoToCart{
        background: #000a71;
        cursor: pointer;
        color: white;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        padding: 0.3rem 0.8rem;
        left: 10px;
        bottom: 50px;
    }
    .btnaddtoCart{
        background: #e30016;
        cursor: pointer;
        color: white;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        padding: 0.3rem 0.8rem;
        left: 10px;
        bottom: 50px;
    }
    h3{
        color:#000a71;
        font-weight: bold;
    }
    p{
        font-weight: 300;
        color:#7a7c82;
        border-bottom:1px solid #f4f4f4;
    }
    .other-details{
        
        ul{
            padding-left:0rem;
            padding-bottom:2rem;
            border-bottom:1px solid #f4f4f4;
            list-style: none;
            li{
                h4{
                    font-size:1rem;
                    font-weight: bold;
                    cursor: pointer;
                    .inner{
                        display: none;
                    }
                }
                .expand{
                    transition: all .5s ease-in-out;
                    .inner{
                        display:block;
                        padding-top:1rem;
                        font-weight: 300;
                        font-size:0.80rem;
                        color:#7a7c82;
                    }
                }
                
            }
        }
    }
}