.tile-bulk-orders{
    position: relative;
    margin-top:4.25rem;
    margin-bottom:4rem;
    .form{
        margin-top:3rem;
        .btn{
            color:white;
        }
    }
    .form-control{
        color:#aaaaaa;
        font-size:12px;
    }
    .heading{
        h1{
            font-size:32px;
            font-weight: 100;
            span{
                font-weight: bold;
            }
        }
        p{
            font-weight: 600;
            color:#4c4c4c;
            font-size: 14px;
        }
    }
    .left-box{
        position: absolute;
        top:4rem;
    }
    .right-box1{
        position: absolute;
        right: 6rem;
        top: 8rem;
    }
    .right-box2{
        position: absolute;
        right: 4rem;
        top: 0rem;    
    }
    

}