.tile-bulk-orders{
    position: relative;
    background-image: url("../../../assets/images/Bulk-Order-BG.jpg");
    background-size: cover;
    padding:1rem 0;
    .form{
        margin-top:3rem;
        .btn{
            color:white;
        }
       
    }
    .form-control{
        color:#ffffff;
        border:1px solid #fff;
        background: transparent;
        font-size:14px;
        font-weight: bold;
    }
    .heading{
        border-bottom:none;
        padding-top:2rem;
        padding-bottom:2rem;
        h1{
            font-size:32px;
            color:#fff;
            font-weight: 100;
            span{
                font-weight: bold;
            }
        }
        p{
            font-weight: 600;
            color:#ccc;
            font-size: 14px;
        }
    }
    .left-box{
        position: absolute;
        top:4rem;
    }
    .right-box1{
        position: absolute;
        right: 6rem;
        top: 8rem;
    }
    .right-box2{
        position: absolute;
        right: 4rem;
        top: 0rem;    
    }
    

}