
@import "../../../global/styles/fonts.scss";
@import "../../../global/styles/base_colors.scss";
@import "../../../global/styles/base_variables.scss";

.featured-products-section{
    margin-top:-4rem;
   
    .row{
        padding-bottom:4rem;
    }
    .l-item{
        background-color:$lighter-grey;
        p{
            font-size:0.8125rem;
            color:$mid-grey;
            font-weight: normal;
        }
        .sub{
            padding-top:0.5rem;
            font-size: 0.7rem;
            line-height: 1rem;
            font-weight: 100;
            color:$light-grey;
            min-height:120px;
            max-height:120px;
        }
    }
   
}
