.update-form{
    .admin-header{
        background-color:#282676;
        padding:1rem;
        font-weight: bold;
        color:white;
    }
    .thumbnail{
        width:150px;
        height:150px;
        margin-bottom:10px;
        cursor: pointer;
        display:block;
    }
    .images-panel{
        ul{
            list-style: none;
            li{
               
                display: inline-block;
                margin-right:10px;
                span{
                    display:block;
                    text-align: center;
                    cursor: pointer;
                }
            }
        
        }
    }
}