@import "../../global/styles/_fonts.scss";
@import "../../global/styles/base_colors.scss";
@import "../../global/styles/base_variables.scss";

// .static-header {
//     // padding:1rem;
//     border-bottom: $border-rgb-grey;
//     position: fixed;
//     width: 100%;
//     z-index: 5000;
// }
.header{
    padding:1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        color:$white;
        padding:0.5rem 0;
    }
}
