@import "../../global/styles/_fonts.scss";
@import "../../global/styles/base_colors.scss";
@import "../../global/styles/base_variables.scss";
.is-hidden{
    display: none;
}
.logo{
    font-size:0.60rem;
}
.search-icon{
    position: absolute;
    left:5px;
    top:8px;
    font-size: 0.80rem;
}
.dropdown-submenu {
    position: relative;
}
.navbar-section{
    .navbar-toggler-icon{
        width: 1em;
        height: 1em;
        cursor: pointer;
    }
    .navbar{
        padding:0px;
    }
    .navbar-light {
        .navbar-nav{
            .nav-link{
                font-size:0.90rem;
                color:#000;
                padding:1rem;
            }
        }
    }
}
  
.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-top: -1px;
}

.icon-palat{
    display:flex;
    justify-content: flex-end;
    span{
        margin-right:0.4rem;
    }
    .navbar-search{
        position: relative;
        margin-right:30px;
        input[type=text]{
            border:none;
            background-color:$error-red;
            border-radius:$form-raidus;
            color:$white;
            padding:0.0625rem 0.25rem;
            font-size:0.75rem;
        }
    }

}

.products-dropdown{
    padding:1rem;
    position: absolute;
    border:1px solid #f4f4f4;
    z-index: 1000;
    left:50%;
    background-color:white;
    width:700px;
    margin-top:1rem;
    ul{
        list-style:none;
        margin-left:0rem;
        padding-left:0rem;
        border-right:1px solid #f4f4f4;
        li{
            font-size:0.80rem;
            padding-bottom:0.50rem;
            padding-top:0.50rem;
            padding-left:0.50rem;
            cursor:pointer;
            &:hover{
                background-color:#dc3545;
                color:white;
            }
        }
    }
    .sub-cat{
        a{
            font-weight: bold;
            font-size:0.80rem;
            padding:1rem 0;
            color:#000;

            
        }
        ul:last-of-type{
            border:none;
        }
        ul{
            border-bottom:1px solid #f4f4f4;
            padding-left:0rem;
            padding-bottom:1rem;
            list-style: none;
            li{
                display: inline-block;
                margin-right:1rem;
                cursor:pointer;
                &:hover{
                    background-color: white;
                    color:#000000;
                }
            }
          

        }
    }
}

