.career-tile .error {
  border-color: red;
}

.career-tile .vendor-form .form-control {
  border-radius: none;
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.career-tile .active {
  background-color: #282676 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.career-tile .active h3, .career-tile .active p {
  color: #ffffff !important;
}

.career-tile .active svg {
  background-color: #282676 !important;
  border-color: white !important;
}

.career-tile .active svg .icon {
  fill: #ffffff !important;
}

.career-tile .career-category {
  position: relative;
  margin-top: 5rem;
  background-color: #f4f4f4;
  cursor: pointer;
}

.career-tile .career-category:hover {
  background-color: #282676;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.career-tile .career-category:hover h3, .career-tile .career-category:hover p {
  color: #ffffff;
}

.career-tile .career-category:hover svg {
  background-color: #282676;
  border-color: white;
}

.career-tile .career-category:hover svg .icon {
  fill: #ffffff;
}

.career-tile .career-category:active {
  background-color: #282676;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.career-tile .career-category:active h3, .career-tile .career-category:active p {
  color: #ffffff;
}

.career-tile .career-category:active svg {
  background-color: #282676;
  border-color: white;
}

.career-tile .career-category:active svg .icon {
  fill: #ffffff;
}

.career-tile .career-category svg {
  background-color: #f4f4f4;
  position: absolute;
  left: 100px;
  width: 20%;
  left: 40%;
  top: -40px;
  border: 2px solid #999999;
  padding: 1rem;
  border-radius: 100%;
}

.career-tile .career-category h3 {
  padding-top: 2rem;
  color: #282676;
  font-size: 1.5rem;
}

.career-tile .career-category p {
  padding: 1rem 2rem 0rem 2rem;
  font-style: italic;
  font-size: 12px;
  color: #282676;
}

.career-tile .carrer-item {
  padding: none;
  margin-top: 3rem;
  border: 1px solid #f4f4f4;
}

.career-tile .carrer-item p {
  font-size: 12px;
  color: #000000;
}

.career-tile .carrer-item button {
  border-top: 1px solid #f4f4f4;
}

.career-tile .contact-form {
  background-color: #f4f4f4;
}

.career-tile .contact-form .head {
  padding: 2rem 2rem;
  background-color: #282676;
  color: white;
}

.career-tile .contact-form .head h4 {
  font-size: 1rem;
  font-weight: bold;
}

.career-tile .contact-form .form-section {
  padding: 1rem 3rem;
}

.career-tile .contact-form .form-section .form-group {
  padding: 0.25rem;
}

.career-tile .contact-form .form-section .form-group .form-control {
  font-size: 0.70rem;
  color: #cccccc;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=career.css.map */