.carousel-control-prev {
    left: -14px;
}
.carousel-control-next {
    right: -14px;
}

.carousel-indicators{
    bottom:-52px;
}
.carousel-indicators li{
    background-color:#cccccc;
    
}
.carousel-indicators {
    .active{
        background-color:#dc3545;
    }
}

