.tile-choose-us {
  padding-bottom: 10rem;
  padding-top: 2rem;
  background-color: #f3f4f7;
}

.tile-choose-us h1 {
  margin-top: 4rem;
  font-size: 30px;
  font-weight: 300;
  color: #333333;
}

.tile-choose-us h1 span {
  font-weight: bold;
}

.tile-choose-us p {
  margin-bottom: 3rem;
  font-size: 14px;
  font-weight: 600;
  color: #4c4c4c;
}

@-webkit-keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 630px 0;
  }
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 630px 0;
  }
}

.tile-choose-us .features-section {
  background-image: url("../../../assets/images/hills.png");
  background-size: cover;
  background-position: center;
  margin-top: 8rem;
}

.tile-choose-us .features-section #earth {
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Safari */
  transform: scale(1, 1);
  /* [1] Allow it to contain the absolutely positions pseudo-elements (later-on) */
  position: absolute;
  /* [2] Set-up the dimensions and spacing */
  width: 300px;
  height: 300px;
  top: 3rem;
  left: 3.9rem;
  /* [3] Prepare the animation effects */
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
  /* This is going to be defined in the next step */
  /* [4] Tweak the appearance, and give it a nice background i.e. the world map */
  color: #000;
  border-radius: 50%;
  background: url("../../../assets/images/globe-home.png") 0 0 repeat/630px;
  /* [5] Position things in a 3d space */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.tile-choose-us .features-section #earth:after {
  /* [1] Break the flow to show this as an overlay */
  position: absolute;
  top: 0;
  left: 0;
  /* [2] Make it take all the space available in the box (ahem... globe!) */
  width: 100%;
  height: 100%;
  /* [3] Make sure this has no generated content, as we want this just for fancy purposes */
  content: '';
  /* [4] Give it some shape and shadow */
  border-radius: 50%;
}

.tile-choose-us .features-section #earth:before {
  /* [1] Again, break the flow to show this as an overlay */
  position: absolute;
  top: 0;
  left: 0;
  /* [2] Again, give it all the available space */
  width: 100%;
  height: 100%;
  /* [3] Duh. */
  content: '';
  /* [4] Add some shape and overlay effect to it */
  opacity: .2;
  border-radius: 50%;
}

.tile-choose-us .features-section .circle-container {
  position: relative;
  width: 416px;
  height: 416px;
  padding: 0;
  border-radius: 50%;
  margin: 3em auto 0;
  border: solid 2px #ccc;
}

.tile-choose-us .features-section .circle-container ul {
  list-style: none;
}

.tile-choose-us .features-section .circle-container > * > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  margin: -1.5em;
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(1) {
  -webkit-transform: rotate(170deg) translate(208px) rotate(-170deg);
          transform: rotate(170deg) translate(208px) rotate(-170deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(2) {
  -webkit-transform: rotate(193deg) translate(208px) rotate(-193deg);
          transform: rotate(193deg) translate(208px) rotate(-193deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(3) {
  -webkit-transform: rotate(216deg) translate(208px) rotate(-216deg);
          transform: rotate(216deg) translate(208px) rotate(-216deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(4) {
  -webkit-transform: rotate(239deg) translate(208px) rotate(-239deg);
          transform: rotate(239deg) translate(208px) rotate(-239deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(5) {
  -webkit-transform: rotate(262deg) translate(208px) rotate(-262deg);
          transform: rotate(262deg) translate(208px) rotate(-262deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(6) {
  -webkit-transform: rotate(285deg) translate(208px) rotate(-285deg);
          transform: rotate(285deg) translate(208px) rotate(-285deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(7) {
  -webkit-transform: rotate(308deg) translate(208px) rotate(-308deg);
          transform: rotate(308deg) translate(208px) rotate(-308deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(8) {
  -webkit-transform: rotate(331deg) translate(208px) rotate(-331deg);
          transform: rotate(331deg) translate(208px) rotate(-331deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(9) {
  -webkit-transform: rotate(354deg) translate(208px) rotate(-354deg);
          transform: rotate(354deg) translate(208px) rotate(-354deg);
}

.tile-choose-us .features-section .circle-container > * > *:nth-of-type(10) {
  -webkit-transform: rotate(377deg) translate(208px) rotate(-377deg);
          transform: rotate(377deg) translate(208px) rotate(-377deg);
}

.tile-choose-us .features-section .circle-container .content {
  top: 0rem;
  right: 5rem;
  position: absolute;
  text-align: left;
  width: 312px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content1 {
  top: -2rem;
  right: 5rem;
  position: absolute;
  text-align: left;
  width: 319px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content1 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content1 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content1 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content2 {
  top: -4rem;
  right: 5rem;
  position: absolute;
  text-align: left;
  width: 361px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content2 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content2 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content2 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content3 {
  top: -7rem;
  right: 2rem;
  position: absolute;
  text-align: left;
  width: 361px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content3 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content3 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content3 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content4 {
  top: -7rem;
  right: -17rem;
  position: absolute;
  text-align: left;
  width: 361px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content4 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content4 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content4 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content5 {
  top: -6rem;
  left: 17rem;
  position: absolute;
  text-align: left;
  width: 299px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content5 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content5 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content5 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content6 {
  top: -3rem;
  left: 4rem;
  position: absolute;
  text-align: left;
  width: 361px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content6 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content6 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content6 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content7 {
  top: -1rem;
  left: 4rem;
  position: absolute;
  text-align: left;
  width: 361px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content7 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content7 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content7 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content8 {
  top: -1rem;
  left: 4rem;
  position: absolute;
  text-align: left;
  width: 329px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content8 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content8 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content8 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container .content9 {
  top: 0rem;
  left: 5rem;
  position: absolute;
  text-align: left;
  width: 343px;
  border-bottom: 1px solid #cccccc;
}

.tile-choose-us .features-section .circle-container .content9 p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.tile-choose-us .features-section .circle-container .content9 p span {
  font-weight: bold;
}

.tile-choose-us .features-section .circle-container .content9 div {
  font-size: 12px;
  color: #6666;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tile-choose-us .features-section .circle-container svg {
  padding: 10px;
  display: block;
  max-width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border: solid 1px #bbbbbb;
  background-color: #f3f4f7;
  -webkit-transition: .15s;
  transition: .15s;
}

.tile-choose-us .features-section .circle-container svg:hover .icon {
  fill: #dc3545;
}

.tile-choose-us .features-section .goods {
  position: absolute;
  left: 5rem;
  top: 20rem;
}
/*# sourceMappingURL=why-choose-us.css.map */