@import "../../global/styles/_fonts.scss";
@import "../../global/styles/base_colors.scss";
@import "../../global/styles/base_variables.scss";

.inputtext{
    box-shadow: none !important;
}

.search-component{
    position: absolute;
    background-color:transparent;
    border-radius: $form-raidus;
    top:11rem;
    width:100%;
    padding:0.5rem;
    .radio{
        text-align: center;
        label{
            width: 100%;
        }
    }
    .form-control{
        font-size:1rem;
    }
    .radio{
        label{
            margin-right:1rem;
            margin-bottom:0.5rem;
        }
    }
    .inputtext {
        input[type=text]{
            text-align: center;
            font-size:14px !important;
        }
    }
    .nav-tabs{
        font-size:0.75rem;
        font-weight: 400;
        padding:0.75rem 0;
        margin-bottom:0.5rem;
        .nav-item:nth-child(2){
            .nav-link{
                padding-left:1rem;
                border-left:$border-rgb-grey;
            }
        }
        .nav-item{
            flex:1;
            text-align: center;
            .nav-link{
                &:hover{
                    border:none;
                    cursor: pointer;
                    color:$yellow;
                }
            }
    }
}
}