.heading{
    border-bottom:2px solid #dddddd;
    h3{
        font-size:22px;
        font-weight: 200;
        color:#000000;
        span{
            font-weight: bold;
        }
    }
    p{
        font-size:11px;
        color:#6666;
    }
}
.news-list{
    margin-bottom:1rem;
    .item{
        p{
            color:#333333;
            font-size:0.75rem;
        }
        a{
            color:#00a3d9;
            font-size:12px;
        }
        
    }
}
.news-details{
    p{
        font-size:14px;
    }
    h5{
        font-size:18px;
    }
}
.news-date{
    color:#ccc;
    .date{
        font-size:32px;
        font-weight: bold;
    }
}
.news-callendar-tile{
    border:1px solid #ccc;
    padding:1rem;
    border-radius: 5px;
    background-color:#f1f1f1;
    h4{
        color:#dc3545;
        font-size:1rem;
        font-weight: bold;
    }
    .arch{
        border-radius:5px;
        padding:0.3rem;
        margin-right:10px;
    }
    ul{
        padding-left:0px;
        list-style:none;
        li{
            justify-content: space-between;
            display:flex;
            padding:10px 0px;
            cursor: pointer;
            &:not(:last-child){
                border-bottom:1px solid #ccc;
            }
        }
    }
}