.heading{
    border-bottom:2px solid #dddddd;
    h3{
        font-size:22px;
        font-weight: 200;
        color:#000000;
        span{
            font-weight: bold;
        }
    }
    p{
        font-size:11px;
        color:#6666;
    }
}
.news-list{
    margin-bottom:1rem;
    .item{
        p{
            color:#333333;
            font-size:0.75rem;
        }
        a{
            color:#00a3d9;
            font-size:12px;
        }
        
    }
}
.news-details{
    p{
        font-size:14px;
    }
    h5{
        font-size:18px;
    }
}
.news-date{
    color:#ccc;
    .date{
        font-size:32px;
        font-weight: bold;
    }
}