.news-item{
    h6{
        color:#e30016;
        font-weight: bold;
        padding:1rem 0 0 0;
    }
    p{
        font-size:14px;
        color:#7a7c82;
    }
    .btn{
        background-color: #282676;
        border-color:#282676;
        font-size:0.80rem;
    }
    
}